extends layout
block content

  .blank

  include menu

  .container
    .section(style="padding-top:7px")
      h2 手机 #{user.phone}
    .section
      .cars
        table.selected-cars
          tr
            td.cars-cell
              ul
                each car,i in user.cars || []
                  if car["default"]
                    li(data="#{JSON.stringify(car)}")
                      .detail
                        .type #{car.type}#{car.color}
                        .number #{car.number}
            td.arrow-cell
              .arrow
                .icon
        if !user.cars || user.cars.length < 5
          .add.addcar
            i.icon-add
            | 添加车辆
    .section
      h2 请选择您需要的服务
      ul.services
        - var service = services[0];
        li
          .detail
            .title #{service.title}
            .desc #{service.describe}
          .arrow
            .icon
          .price ￥#{service.price}

    .section.coupon
      .credit
        .text
          .label 使用积分：
          .num #{user.credit||0}
        .use
          i.icon
      if user.promo
        .promo
          .text
            | 已使用
            br
            | 优惠券
          .count
            span.num
              .text 1
              select
      else
        .promo.disabled
          .text
            | 使用
            br
            | 优惠券
          .count
            span.num
              .text 0
              select

    .section
      .payment
        .inner
          .title 支付金额
          .num ￥
            span.count 0
    .section.address
      h2 地址
      input#latlng(type="hidden")
      .location
        input#address.input(data-pattern="/api/v1/location/suggestion/{q}")
        i.icon
      .carpark
        input#carpark.input(placeholder="具体位置 如B215车位")
      .note 注：一地址一订单，其他地址请另行下单

    .section.go-wash-section
      #go-wash.button 欧耶洗车啦
  script.
    var services = !{JSON.stringify(services)};
  +facade("menu")
  +facade("home")