- var sitename = "CC美车"
mixin facade(name)
  //- if env == "product"
  //-   script(src="/dest/pages/#{name}.js?t=#{config.start_time}")
  script.
    facade({
      entry: "ccmeiche@#{package_version}/pages/#{name}.js"
    });

doctype html
html
  head
    title= title || sitename

    script(src="/neurons/neuron/7.1.3/neuron.js?t=#{config.start_time}")
    //- if env !== "product"
    script(src="/neurons/config.js?t=#{config.start_time}")
    script.
        neuron.config({
          path:"/neurons"
        });
    link(href="/css/app.css?t=#{config.start_time}", rel="stylesheet")
    if config.service == "user"
      meta(name="format-detection" content="telephone=no")
    meta(name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, initial-scale=1")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="apple-mobile-web-app-capable", content="yes")

    script.
        window.onerror = function(msg,url,line){
            var e = encodeURIComponent;
            var img_url = "/error.gif?"
                 + "msg=" + e(msg)
                 + "&url=" + e(url)
                 + "&line=" + e(line);
            var img = new Image();
            img.src = img_url;
        }
        window.log = function(msg, detail){
          var e = encodeURIComponent;
          var img_url = "/log.gif?"
               + "msg=" + e(msg)
               + "detail=" + e(detail)
          var img = new Image();
          img.src = img_url;
        }
        var appConfig = {
            env: "#{env}",
            service: "#{config.service}",
            qiniu_bucket: "#{config.qiniu_bucket}",
            qiniu_host: "#{config.qiniu_host}"
        }

    if user && config.service == "user"
        script.
            var user = {
              addresses: !{JSON.stringify(user.addresses||[])},
              cars: !{JSON.stringify(user.cars||[])},
              phone: "#{user.phone}",
              promo: !{JSON.stringify(user.promo||[])},
              credit: #{user.credit || 0},
            };
  body(id="#{id}")
    block content