- var sitename = "CC美车"
doctype html
html
  head
    title= title || sitename
    script(src="/neurons/neuron/7.0.0/neuron.js")
    script(src="/neurons/config.js")
    script.
        neuron.config({
            path:"/neurons"
        });
    link(href="/css/app.css", rel="stylesheet")
    meta(name="format-detection" content="telephone=no")
    meta(name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="apple-mobile-web-app-capable", content="yes")
  body(id="#{id}")
    block content
    script.
        window.onerror = function(msg,url,line){
            var e = encodeURIComponent;
            var img_url = "/error.gif?"
                 + "msg=" + e(msg)
                 + "&url=" + e(url)
                 + "&line=" + e(line);
            var img = new Image();
            img.src = img_url;
        }
        var appConfig = {
            qiniu_bucket: "#{config.qiniu_bucket}",
            qiniu_host: "#{config.qiniu_host}"
        }

    if user && config.service == "user"
        script.
            var user = {
              cars: !{JSON.stringify(user.cars)},
              phone: #{user.phone},
              promo: !{JSON.stringify(user.promo)},
              credit: #{user.credit || 0},
            };