extends layout
block content
  h1.h1 我的信息
  .section
    h2.h2 账户
    ul.account
      li.row
        .label 手机
        .text #{user.phone}
      li.row
        .label 余额
        .text #{user.credit || 0}

  .section
    h2.h2 优惠券
    ul.promos
      each promo,i in user.promo || []
        li.row(data="#{JSON.stringify(promo)}")
          .text #{promo.title}

  .section.cars
    h2.h2 车型
    ul
      for car,i in user.cars || []
        li.row(data="#{JSON.stringify(car)}")
          .text
            p.title #{car.type} #{car.color}
            p.desc #{car.number}
          .edit 修改
    .add.addcar
      i.icon-add
      | 添加车辆

  .section
    h2.h2 地址
    for address,i in user.addresses || []
      .row(data-addr="!{address}")
        .text
          .span.title #{address.address}
          .span.desc #{address.carpark}
        .edit 修改
    .add.addaddress
      i.icon-add
      | 添加地址
    .addaddress-panel(style="display:none")
      h2.title 添加地址信息
      .form-group
        input#input-latlng(type="hidden")
        .input-row
          i.icon-location
          input.input#input-address(placeholder="地址",data-pattern="/api/v1/location/suggestion/{q}")
        .input-row
          input.input#input-carpark(placeholder="具体位置")
      .button-wrap
        .button#save-address 保存地址

  .button 保存

  +facade('myinfos')