extends layout
block content
  h1.title 车洗完啦
  .container
    .order
      .inner
        .row
          .label 手机
          .text #{order.user.phone}
        for car in order.cars
          .row
            .label 车型
            .text
              p #{car.type}
              p #{car.number}
        .row
          .label 服务
          .text #{order.service.title}
        .row
          .label 支付
          .text #{order.service.title}
  h2.title 已完成
  h2.title 车损部位