extends layout
block content
  h1.title 车洗完啦
  .container
    .order
      .inner
        .row
          .label 手机
          .text #{order.user.phone}
        for car in (order.cars || [])
          .row
            .label 车型
            .text
              p #{car.type}
              p #{car.number}
        .row
          .label 服务
          .text #{order.service.title}
        .row
          .label 支付
          .text #{order.service.title}
  h2.title 已完成
  .finish_pics.container
    for pic in (order.finish_pics || [])
      .pic
        img(src="#{config.qiniu_host}#{pic}?imageView/2/w/640")
  if (order.breakage && order.breakage.length) || order.breakage_pics.length
    h2.title 车损部位
    .container
      include ./breakages
    .breakage_pics.container
      for pic in (order.breakage_pics || [])
        .pic
          img(src="#{config.qiniu_host}#{pic}?imageView/2/w/640")
  script.
    var orderId = "#{order._id}";
  +facade('order-result')