extends layout
block content
  h1.h1 #{subtitle}
  ul.choices
    for choice in choices
      li.row(data-id="#{choice._id}")
        .recharge-row
          .promo
            .title #{choice.title}
            if choice.origin_price
              .origin-price 原价¥#{choice.origin_price}
          .price ¥#{choice.price}
  .button 提交
  +facade('recharge')