extends layout
block content
  h1.h1 #{subtitle}
  ul.choices
    for choice in choices
      li.row(data-id="#{choice._id}")
        if subtitle == "充值"
          .price #{choice.price}cc
          .promo #{choice.title}
        else
          .price #{choice.title}
          .promo #{choice.describe}
  .button 提交
  +facade('recharge')