extends layout

block main
  div
    a.btn.btn-primary#button-add(style="margin-right:10px") 添加
  table#qr-table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th 二维码
        th 优惠券内容
        th 生成时间
        th 状态
      for item in qrcodes
        tr
          th 
            a(href="https://api.qrserver.com/v1/create-qr-code/?data=#{item.url}&size=200x200",target="_blank") 点击查看
          th #{item.promoTitle}
          th #{item.createTime}
          th 
            if item.expired
              | 已过期
            else if item.used
              | 已被"#{item.username}"使用
            else
              | 未使用

  .modal.fade#modal-add-qrcodes
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') ×
            span.sr-only Close
          h4.modal-title 添加二维码

        form#create-worker-form
          .modal-body
              .form-group
                label(for='ipt-worker-openid') 优惠券
                select.form-control#qr-service
                  each item in recharges
                    option(value="#{item._id}") #{item.title}
              .form-group
                label(for='ipt-worker-name') 数量
                select.form-control#qr-amount
                  each n in [1,2,3,4,5,6,7,8,9,10]
                    option(value="#{n}") #{n}
          .modal-footer
            button.btn#btn-add-qr.btn-primary(type='submit') 添加

block scripts
  script.
    var add_btn_clicked = false;
    $("#button-add").click(function(){
      $('#modal-add-qrcodes').modal('show');
    });

    $("#btn-add-qr").click(function(){
      if(add_btn_clicked){return}
      add_btn_clicked = true;
      $.ajax({
        type:"post",
        url: "/api/qrcode/add",
        data:{
          promo: $("#qr-service").val(),
          amount: $("#qr-amount").val()
        },
        success:function(){
          location.reload();
        }
      });
    });

    $("#create-worker-form").on("submit",function(e){
      e.preventDefault();
    });
